<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(UniLibrary.Blazor.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(UniLibrary.Blazor.Layout.MainLayout)">
            <p role="alert">Сторінку не знайдено.</p>
        </LayoutView>
    </NotFound>
</Router>