@inject Services.BookApiService BookApiService
@using UniLibrary.Blazor.Models
@inherits LayoutComponentBase
<div>
    @if (books != null)
    {
        @foreach (var book in books)
        {
            <div>@book.Id - @book.Author - @book.Title - @book.PublicationYear  - чи є в нявності: @book.IsAvailable  </div>
        }
    }
    else
    {
        <div>Виникла помилка при завантаженні файлів</div>
    }
    
</div>

@code {
    private List<Book>? books;

    protected override async Task OnInitializedAsync()
    {
        books = await BookApiService.GetBooksAsync();
    }
}